{% extends 'base.html' %}
{% block body_block %}
		<div id="main">
			<div class="shell">
				<article>
					<h1>FindDaily.com</h1>

					<p>When my son was looking for his first car, he would go to Craigslist and punch in the same search term everyday hoping to
					   to find something new. Eventually he found a great truck from a dealer on Craigslist. I created FindDaily to make that process
					   simpler. Just describe the car or truck you are looking for and it does the rest. Every day it runs a search and emails
					   or texts you what its found. You can rate how good each find is, and keep notes such as phone number or address when
					   you call or email the person who posted the vehicle.  I use FindDaily to find cars that are hard to find. Like a '1966 Ford Bronco' in my area, or my first car an '1969 MGC'
					    When it finds one I get an email and I can check it out. 
					</p>
					<p>Mostly FindDaily is fun. Try it out. Sign up and FindDaily will start sending you emails of the results of your search. You
					   can always delete the search edit, delete or create new searches from your account. I built FindDaiy for fun. I will never use
					   your email, or location for anything other than notifying you about new finds.
					</p>

					<section>
						<div class="half">
						    <h3> Searching <h3>
							<p>FindDaily tries to make the search process simple by trying to understand what you are looking for in a single line
							   The only thing required is that it know what make of vehicle you are looking for. You can add more details such
							   as year, and model to help reduce the time it takes to search. 
							</p>
							<p>You can describe what you are looking for in plain English. Like 'blue 2000 to 2004 toyota tacoma within 100 miles'
							   FindDaily tries to understand what you wrote and does the search. Once you have a search it shows the results, and 
							   you can change the settings if you like on the listing page. 
							   If FindDaily does not know your location and you type in Jeep for a search, prepare to wait. It will try and find every Jeep
							   in the country. The more specific you are the better the search. 
							</p>
							<p>Because of the way people describe a vehicle when they create an ad or posting, it can sometimes include other vehicles. FindDaily's result may include
							   vehicles that are not what you are looking for. Simple delete those finds. FindDaily does its best to match ads as close to what you are
							   looking for.
							</p>
							<h3>Location<h3>
							<p>FindDaily tries to find cars in your location. When your browser asks to 'Share Your Location' it uses that to narrow
							   the search closest to you. You can also set your location when you sign up, create an account and put in as much of your
							   address as you like. It can be as simple as 'New York, New York' if you like. In your search you can ask FindDaily to look
							   as far as you like. For example you can write 'triumph tr6 anywhere' and it will give you all the vehicles in the country.
							   You can also say 'triumph tr6 within 200 miles' and it will look within a 200 mile radius. 
							</p>
							

						</div>
						<div class="half">
						<h3> Account <h3>
							<p>Once you sign up FindDaily saves all your searches on your accounts page. The account page is used to let FindDaily
							   know where to send emails and where to search for vehicles. Once you sign up or log in you will see the 'My Account' 
 							   tab at the top right of the page. From your accounts page, you can see all your searches by clicking the My Searches tab
							   at the top right of the page. You can edit your accounts page any time you like. 
							</p>
						</div>
					</section>

					<p>I hope you enjoy using FindDaily. Please let us know and if you have any comments or questions please email me at 
					   <a href='mailto:finds@finddaily.com'>finds@finddaily.com</a>
					</p>
				</article>
			</div>
		</div>

		<div id="footer-push"></div>
	</div>
{% endblock body_block %}
